* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.container-logo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.container-logo a {
  padding: 0.2rem;
}
.container-logo img {
  padding: 1rem 1rem 0.5rem 1rem;
}
.container-logo i {
  position: absolute;
  bottom: 1.6rem;
  margin-left: 10px;
}

#footer {
  background-color: #353535;
  color: white;
}

footer h3 {
  font-family: "Shrikhand", cursive;
}

footer a {
  color: white;
  margin-bottom: 5px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 20px;
}
.container-footer i {
  margin-right: 10px;
  font-size: x-small;
}
.container-footer div {
  margin-bottom: 5px;
}

.icon--size i {
  font-size: small;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes cards {
  0% {
    opacity: 0;
    z-index: -1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    z-index: 0;
    transform: translateY(0);
  }
}
@keyframes cards {
  0% {
    opacity: 0;
    z-index: -1;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    z-index: 0;
    transform: translateY(0);
  }
}
@-webkit-keyframes heartanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes heartanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.loading-container {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  -webkit-animation: loader 3s both;
          animation: loader 3s both;
}

.loading {
  position: absolute;
  opacity: 1;
  -webkit-animation: loader 3s both;
          animation: loader 3s both;
  left: 9rem;
  top: 20rem;
  background-color: #f2f2f2;
}

.load {
  width: 100px;
  height: 100px;
  display: inline-block;
}

.load-spin {
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #9356dc;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}
.load-spin:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #99e2d0;
  -webkit-animation: spin 4s linear infinite;
          animation: spin 4s linear infinite;
}
.load-spin:before {
  content: "";
  position: absolute;
  top: 12px;
  left: 12px;
  bottom: 12px;
  right: 12px;
  border-radius: 50px;
  border: 5px solid transparent;
  border-top-color: #ff79da;
  -webkit-animation: spin 6s linear infinite;
          animation: spin 6s linear infinite;
}

.container-map > aside > a {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  gap: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 20px 0 #686868;
}

.container-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  box-shadow: inset 0px 1px 6px 0px #686868;
  align-content: center;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
}

.container-flex--posi {
  padding: 1rem;
  font-size: 20px;
}

.container-flex__resume {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  padding: 0 1rem 2rem 2rem;
  align-items: center;
  background-color: #fafafa;
  text-align: center;
}
.container-flex__resume h2 {
  margin-bottom: 0;
}
.container-flex__resume button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(#9356dc, #ff79da);
  cursor: pointer;
  transform: scale(1);
  transition: all 1000ms;
  opacity: 1;
}
.container-flex__resume button:hover {
  background-color: #fff;
  transform: scale(1.15);
  opacity: 0.7;
}

aside h2 {
  margin-left: 20px;
}
aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 1.5rem;
}
aside ul li {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0.5rem 0;
  box-shadow: 0px 10px 20px 0 #686868;
}
aside ul li:hover {
  background-color: #8f859b;
}

.flex-fonc {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 40px;
}
.flex-fonc p {
  margin-left: 15px;
  font-weight: bold;
}
.flex-fonc i {
  color: #686868;
}
.flex-fonc i:hover {
  cursor: pointer;
  color: #9356dc;
}

.numerotation {
  margin: 0;
  position: absolute;
  left: -0.2rem;
  z-index: 1;
  background-color: #9356dc;
  color: white;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  text-align: center;
  line-height: 25px;
}

.container-section {
  /********* pas utile*/
  background-color: #f2f2f2;
}
.container-section h2 {
  margin-left: 20px;
  padding: 1rem;
}

.container-resto {
  gap: 2.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0 1.5rem;
  align-content: center;
  justify-content: center;
  padding-bottom: 3rem;
}
@media (min-width: 768px) {
  .container-resto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.container-resto__offre {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  min-width: 40%;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 10px 20px 0 #686868;
}
@media (min-width: 1024px) {
  .container-resto__offre {
    min-width: 35%;
  }
}
.container-resto__offre span {
  background-color: #99e2d0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.container-resto__offre img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 10rem;
  min-width: 40%;
}
.container-resto__offre i {
  position: absolute;
  font-size: 25px;
  right: 1.2rem;
  bottom: 2rem;
  color: grey;
}
.container-resto__offre h3 {
  margin: 0;
  padding: 0.2rem 0 0 1rem;
}
.container-resto__offre p {
  margin: 0;
  padding: 0.2rem 0 0 1rem;
}

.heart input {
  visibility: hidden;
}
.heart input[type=checkbox]:checked ~ i {
  font-weight: 900;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heartanim 1.5s;
          animation: heartanim 1.5s;
}

.arrow {
  position: absolute;
}
.arrow i {
  position: absolute;
  top: 1.7rem;
  margin-left: 10px;
}

/******************************************************/
main {
  position: relative;
}
main.menu {
  background-color: #f2f2f2;
}
main img {
  width: 100%;
}
main h3 {
  margin-left: 20px;
  margin-top: 70px;
}
main h3.souligne:after {
  content: " ";
  display: block;
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-top: 5px;
}

.bandeau {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /********* pas utile*/
  background-color: #f2f2f2;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  border-radius: 40px;
  position: absolute;
  bottom: 72rem;
}
.bandeau h2 {
  font-family: "Shrikhand", cursive;
}
.bandeau i {
  font-size: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 0;
  align-content: center;
  justify-content: center;
  list-style: none;
  align-items: stretch;
  padding: 0 1rem;
}
ul li {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 15px;
  background-color: white;
  border: none;
  box-shadow: 0px 5px 20px 0px grey;
  -webkit-animation: appear 0.6s;
          animation: appear 0.6s;
}
ul li section {
  display: flex;
  overflow: hidden;
  cursor: pointer;
  justify-content: flex-start;
  align-items: center;
}
ul li section:hover .slide {
  margin-right: -0.1rem;
}
ul li section:hover .check-pic {
  transform: rotate(0);
}
ul li section span {
  margin-top: 27px;
  font-weight: 600;
  margin-right: 20px;
}
ul li section .delay1 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
ul li section .delay2 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
ul li section .delay3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
ul li section .dimension-heading {
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
ul li section .dimension-title {
  margin: 0;
  text-align: initial;
  margin-bottom: 0.3rem;
  font-weight: bolder;
  font-size: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul li section .dimension-text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
ul li section .placement-heading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
ul li section .placement-heading span {
  font-weight: bolder;
}
ul li section .placement-heading i {
  color: white;
}
ul li section .placement-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5 rem;
}
ul li section .slide {
  background-color: #99e2d0;
  height: 4rem;
  width: 4rem;
  border-radius: 0px 20px 20px 0;
  display: flex;
  align-items: center;
  margin: -1rem -5rem -1rem 1rem;
  justify-content: center;
  transition-duration: 0.5s;
}
ul li section .check-pic {
  color: white;
  font-size: 20px;
  transform: rotate(180deg);
  transition-duration: 0.8s;
}

.btn-template {
  text-align: center;
}
.btn-template button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-image: linear-gradient(#9356dc, #ff79da);
  cursor: pointer;
  margin-bottom: 60px;
  width: 50%;
  transform: scale(1);
  transition: all 1000ms;
  opacity: 1;
}
.btn-template button:hover {
  background-color: #fff;
  transform: scale(1.15);
  opacity: 0.7;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.heart input {
  visibility: hidden;
}
.heart input[type=checkbox]:checked ~ i {
  font-weight: 900;
  background: linear-gradient(45deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: heartanim 1.5s;
          animation: heartanim 1.5s;
}/*# sourceMappingURL=style.css.map */