@keyframes loader {
    0% {
        opacity: 1;
        background-color: #f2F2F2;
    }
    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
        opacity: 1;
    }


    100% {
        transform: rotate(360deg);
        z-index: -1;
    }
}

@keyframes cards {
    0% {
        opacity: 0;
        z-index: -1;
        transform: translateY(1rem);
    }

    100% {
        opacity: 1;
        z-index: 0;
        transform: translateY(0);
    }
}

@keyframes heartanim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
    }
    100% {
    }
}

@keyframes appear {
0% {
transform: scale(0);
}
100%{
transform: scale(1);
}
}