@mixin flexbox-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

@mixin flexbox-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin btn-gradient {
    border: 0;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient($purple, $pink);
    cursor: pointer;
}

@mixin choice-template {
    width: 100%;
    border-radius: 15px;
    background-color: $white;
    border: none;
}

@mixin cards {
    overflow: hidden;
    min-width: 40%;
    border-radius: 1rem;
    background-color: white;
}

@mixin box-shadow-dark {
    box-shadow: 0px 10px 20px 0 $normalgrey;
}

@mixin box-shadow-light {
    box-shadow: 0px 5px 20px 0px grey;
}

@mixin margin-side-left {
    margin-left: 20px;
}

@mixin back-color-grey {
    /********* pas utile*/
    background-color: $greyf2;
}

@mixin hearth {
    position: absolute;
    font-size: 25px;
    right: 1rem;
    bottom: 1rem;
}
