@use "../utils/_mixin.scss";
@use "../utils/_variables.scss";

#footer {
  background-color: $darkgrey;
  color: white;
}

footer h3 {
  font-family: "Shrikhand", cursive;
}

footer a {
  color: white;
  margin-bottom: 5px;
}

.container-footer {
  @include flexbox-column;
  padding-left: 20px;

  i {
    margin-right: 10px;
    font-size: x-small;
  }

  div {
    margin-bottom: 5px;
  }
}

.icon--size i {
  font-size: small;
}
